body {
    font-family: Arial;
    margin: 0 5%;
}

.cardholder {
    margin: 2.5% 2.5%;
    padding: 0px auto;
    display: flex;
    justify-content: center;
    
}

.card {
    margin: 0 10px;
    display: inline-block;
    max-width: 30%;
    border: 1px solid lightblue;
}

.title {
    border: 1px dotted lightgrey;
}

.image img {
    display: block;
    margin: 0px auto;
    width: 100px;
    height: auto;
}