body {
    font-family: Arial;
    margin: 0 5% 0 5%;
    /*margin: 0px auto;*/
}

.cardholder {
    display: inline-block;

    margin: 2.5%;

}

.card {
    display: inline-block;
    max-width: 30%;
    border: 1px solid lightblue;
}

.title {
    border: 1px dotted lightgrey;
}

.image img {
    display: block;
    margin: 0px auto;
    width: 100px;
    height: auto;
}